# macos
.DS_Store

# cubemx
[dD]ebug
[rR]elease
.settings
.launch
.metadata
/.project
**/Backup

# makefile
build

# cmake
/cmake-build-debug

# stm32vscode
.stm32env
STM32-for-VSCode.config.yaml
STM32Make.make


# .project
# .cproject
# .mxproject
# .extSettings